ion-item {
  
  --background: #316dd0;
  h2 {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
  }
}

.combo{
  font-size: 10px;
  border-radius: 10px;
  margin-right: 20px;
  height: 60%;
  width: 70px;
  margin-top: 12px;
  --background: #ffffff;

}

.combo2{
 
  --background: #ffffff;

}

ion-item:last-of-type {
  div {
    padding-bottom: 20px;
  }
  border-radius: 0 0 20% 20%;
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 10px;
  opacity: .96;
  padding: 0;
  margin: 12px 0;
}

ion-col {
  padding: 0;
}

// ::ng-deep .searchbar-search-icon {
//   color: #316dd0 !important;
// }

ion-content {
  --background: #f6f6f6;
}

ion-card {
  padding: 6px;
  box-shadow: none;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;

  ion-img {
    width: 200px;
    margin: 0 auto;
  }
}

.header-row{
  border-bottom: 1px solid silver;
}
.content-row{
  border-bottom: 1px solid silver;

}
.roundedInput {
  --border-color: silver;
  --border-radius: 5px;
  --border-width: 1px;
  --box-shadow: 1px silver;
  --highlight-height: 0;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  --background: #ffffff;


 }

