<ion-header class="ion-no-border">
  <ion-item lines="none" class="header">
    <ion-avatar slot="end">
      <img src="https://img.freepik.com/premium-vector/bag-money-logo-template-sack-money-vector-illustration_23987-343.jpg?w=740">
    </ion-avatar>
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item lines="none">
    <div class="ion-padding-start ion-padding-bottom">
      <ion-label>
        <h2>Serviço de Câmbios</h2>
      </ion-label>
      <form [formGroup]="formData" (ngSubmit)="exchange()">
        <ion-row class="ion-align-items-center">
          <ion-col size="10" >
            <ion-row>
              <ion-col size="2">
                <ion-list class="combo" >
                  <ion-select placeholder="USD" formControlName="base_code"  (ionChange)="updateBaseCode()" >
                    <ion-select-option *ngFor="let code of colunas, first as f"  [value]="code" >
                      {{code}}
                    </ion-select-option>
                  </ion-select>   
              </ion-list>
              </ion-col>
              <ion-col size="8">
                <ion-searchbar placeholder="{{base_code > 0 ? base_code : 'introduza um valor' }}" [(ngModel)]="valorr" formControlName="valor" searchIcon="location-outline"></ion-searchbar>
              </ion-col>
            </ion-row>
             
              
          </ion-col>
          <ion-col size="10" >
            <ion-button color="light" fill="clear"  type="submit">
              <ion-icon slot="icon-only" name="swap-horizontal-outline"></ion-icon>
            </ion-button> 
  
            <ion-text color="light">
            </ion-text>
          </ion-col>
          <ion-col size="10" >
            <ion-row>
              <ion-col size="2">
                <ion-list class="combo" >
                  <ion-select placeholder="USD" formControlName="target_code"  (ionChange)="updateTargetCode()" >
                    <ion-select-option *ngFor="let code of colunas, first as f" [value]="code">
                      {{code}}
                    </ion-select-option>
                  </ion-select>
              </ion-list>
              </ion-col>
              <ion-col size="8">
                <ion-searchbar placeholder="{{target_code > 0 ? target_code : 'introduza um valor' }}" [value]="convertido" searchIcon="location-outline"></ion-searchbar>
              </ion-col>
            </ion-row>
             
              
          </ion-col>
        </ion-row>
      </form>
     

    </div>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

    
    <ion-row class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="6">
        <h5>Câmbios de Hoje</h5>
        <ion-row>
          <ion-list>
            <ion-item class="combo2" >
              <ion-select placeholder="Selecione uma moeda" [(ngModel)]="moeda" (ionChange)="getUpdates()" >
                <ion-select-option *ngFor="let c of colunas, first as f"  [value]="c" [selected]="f" >
                  {{c}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button fill="clear" color="dark">
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row >
    <ion-card>
      <ion-row class="header-row" > 
        <ion-col size="4">
  
        </ion-col>
        <ion-col size="2">
          Valor   
        </ion-col>
        <ion-col size="2">
          Ultima Actualizacao   
        </ion-col>
        <ion-col size="2">
          Proxima Actualizacao    
        </ion-col>
        <ion-col size="2">
          Data   
        </ion-col>
      </ion-row>
      <ion-row class="content-row" *ngIf="items?.time_last_update_unix > 0" > 
        <ion-col size="4">
            {{items?.base_code}}
        </ion-col>
        <ion-col size="2">
          {{items?.time_eol_unix}}   
        </ion-col>
        <ion-col size="2">
          {{items?.time_last_update_unix}}   
  
        </ion-col>
        <ion-col size="2">
          {{items?.time_next_update_unix}}   
  
        </ion-col>
        <ion-col size="2">
          {{item?.time_next_update_utc}} 
        </ion-col>
      </ion-row>
     
    </ion-card>
    

  </div>
</ion-content>

<div class="ion-padding">
  <ion-badge class="ion-text-center" color="danger" mode="ios">By Dercio Nhatsave.</ion-badge>
</div>